main {
  color: white;
  border: 5px solid #4285f4;
  width: 300px;
  
}

.red {
  background: #E67676;
  padding: 20px;
  margin: 0px
}

.yellow {
  background: #F2F062;
  padding: 20px;
  margin: 0px
}

.green {
  background: #A9E6E6;
  padding: 20px;
  margin: 0px
}

.blue {
  background: #7692E4;
  padding: 20px;
  margin: 0px
}

p {
  text-align: center;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 24px;
}